html {
    height: 100%;
}

body.principal{
    height: 100%;
    width: 100%;
    background: rgb(178, 240, 241);
    background: linear-gradient(135deg, rgb(208, 128, 232) 40%, rgba(253,247,45,1) 100%); 
}

h1, h2, h4{
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


nav{
    text-align: center;
    padding: 10px;
    font-size: 15px;
    background-color: pink;
}

.div_retiro{
    width: 300px;
    height: 200px;
    margin: auto;

}

label {
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

input[type="number"] {
    width: 80%;
    padding: 10px;
    border: 3px solid rgb(172, 48, 124);
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    margin: auto;
}

input[type="submit"]:hover {
    background-color: #45a049;
    margin: auto;
}

.foot{
    border-radius: 10px;
    padding: 10px;
    background-color: rgba(102, 102, 179, 0.858);
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 13px;
    text-decoration: none;
}

.foot:hover{
    border-radius: 10px;
    padding: 10px;
    background-color: rgba(102, 179, 164, 0.858);
    color: rgb(58, 74, 153);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 13px;
    text-decoration: underline;
}

footer{
    background-color: rgba(51, 51, 51, 0.548);
    color: #fff;
    text-align: center;
    padding: 15px;
}

.imgfoot{
    width: 20%;
    height: 30%;
}

.p_principal{
    background-color: beige;
    text-align: center;
    padding: 20px;
    color: black;
    font-size: 18px;
}




